//-----------------------------------------------------------------------
//
//  Pages » Home
//
//  Contains all home styles.
//
//-----------------------------------------------------------------------

// 
// TOP
//-----------------------------------------------------------------------
.main-header
  cf()
  background: rgba(#fff, .12)
  margin-top: 0px
  padding: 40px

.logo
  width: 100px
  margin-left: 15px
  img
    width: 100%
    height: auto

.participate
  font-size(14px)
  col(7/12)
  p
    margin-top: 0
  ol
    margin-bottom: 0
    margin: 0
    list-style: none
    padding: 0
  .highlight
    font-size(18px)
    font-weight: 700
    color: #fed24f
  p.highlight
    margin-bottom: 10px
    margin-top: 20px

.next-match
  col(5/12)
  figure
    text-align: center
  img
    width: 100%
    display: block
    margin-bottom: 30px
  legend
    font-size(22px)
    margin-bottom: 5px
  span
    text-transform: uppercase
    font-size(14px)

// 
// MAIN CONTENT
//-----------------------------------------------------------------------
.donate
  cf()
  margin-bottom: 40px

.ong
  span(4/12)
  background: rgba(#eee000, .6)
  padding: 20px 40px
  min-height: 520px
  border-right: 1px solid rgba(#000, .1)
  transition(all 0.3s ease-in-out)
  position: relative
  &:hover
    background: rgba(#eee000, .7)
  .social-media
    float: right
  footer
    position: absolute
    bottom: 40px
    left: 40px
    right: 40px

.ong__title
  text-transform: uppercase
  font-size(20px)

.ong__description
  font-size(14px)

// 
// FOOTER
//-----------------------------------------------------------------------
.main-footer
  margin-bottom: 70px


// 
// SOCIAL MEDIA AND BUTTONS
//-----------------------------------------------------------------------
.social-media
  inline-list: 15px
  a, svg
    display: block
  svg
    fill: #000
  li
    background: #fff
    border-radius: 100%

.icon
  height: 39px
  width: 39px

.help-btn
  float: left
  background: #00854a
  line-height: 25px
  inline-block()
  font-size(13px)
  text-transform: uppercase
  padding: 7px
  color: #fff
  text-decoration: none
  transition(all 0.3s ease-in-out)
  &:hover
    background: #00733f

.social-media--alt
  .facebook
    background: #00854a
  .twitter
    background: #fed24f










