//-----------------------------------------------------------------------
//
//  Pages » Home
//
//  Contains all home styles.
//
//-----------------------------------------------------------------------

figure
  margin: 0

body
  background: #160c0c url('/images/main-bg.jpg') center 80% no-repeat
  background-size: contains
  font-family: 'Montserrat', sans-serif;

.main-header
  cf()
  background: rgba(#fff, .12)
  margin-top: 0px
  padding: 30px

.logo
  width: 100px
  // col(2/12)
  img
    width: 100%
    height: auto

.participate
  col(7/12)
  p
    margin-top: 0
  ol
    margin-bottom: 0

.next-match
  col(5/12)
  img
    width: 100%

.donate
  cf()
  margin-bottom: 40px

.ong
  span(4/12)
  background: rgba(#eee000, .6)
  padding: 20px 40px
  min-height: 498px
  border-right: 1px solid rgba(#000, .1)
  color: #fff
  &:hover
    background: rgba(#eee000, .7)
  .social-media
    float: right

.ong__title
  text-transform: uppercase
  font-size(24px)

.ong__description
  font-size(14px)

.help-btn
  float: left

.social-media
  inline-list()
  list-style: none
  margin: 0
  padding: 0

.main-footer
  margin-bottom: 70px











