//-----------------------------------------------------------------------
//
//  Base » General
//
//  Contains all general style.
//
//-----------------------------------------------------------------------

.container
  center(1080px)

*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

figure
  margin: 0

body
  background: #160c0c url('/images/main-bg.jpg') center 80% no-repeat
  background-size: contains
  font-family: 'Montserrat', sans-serif;
  color: #fff
  font-weight: 400
